body{
    background-color: beige;
}

#over {
    width: 100px;
    height: 100px;
    overflow: auto;
    border: 1px solid black;
    padding: 5px;

}

#float{
    border: 2px solid blue;
    padding: 10px;
    float: right;
}